<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>Computer ProfessionalS Program </title>
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css" />
    <script type="text/javascript"
            th:href="@{/js/student.js}"></script>
</head>
<body>
<div >
    Total sessions possible:
    <div th:text="${result.possibledays}"> Total sessions possible:</div>
    Total sessions attended:
    <div th:text="${result.daysattended}"> Total sessions attended:</div>
    percentage
    <div th:text="${result.per}"> percentage</div>

    <table class="table" id="result">
        <tr>

            <th> Date</th>

            <th>Present</th>

        </tr>

        <tr th:each="data : ${blockReportDatas}">
            <td th:text="${data.date}">NAME</td>

            <td th:text="${data.present}">True</td>
        </tr>

        <tfoot>

        </tfoot>
    </table>
</div>

</body>
</html>