<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Attendance</title>
</head>
<body>
<div layout:fragment="main-content">
    <div class="box">
        Total sessions possible:
        <div th:text="${result.possibledays}"> Total sessions possible:</div>
        Total sessions attended:
        <div th:text="${result.daysattended}"> Total sessions attended:</div>
        percentage
        <div th:text="${result.per}"> percentage</div>
    </div>
    <div class="admin container">
        <table class="table is-fullwidth is-hoverable" id="result">
            <tr>
                <th> Date</th>
                <th> Present</th>
            </tr>
            <tr th:each="data : ${result.dateofmed}">
                <td th:text="${data}"></td>
                <td th:text="${result.available}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>