<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Student Detail</title>
    <link href="css/home.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}" href="../css/home.css"/>
</head>
<body>

<div class="box" id="center-panel-grid">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">

            <h4><strong>>>>>>>>The student Accumulative information<<<<<<<<</strong></h4>
        </a>

    </div>
</div>
        <div>
        <div class="dropdown">
            <form th:action="@{/student/studentDetails}" method="get">
                <select class="blue-margin" name="block">
                    <option value="default"><span>Select block</span></option>
                    <option th:each="block : ${blockList}" th:value="${block.block}"
                            th:text="${block.block}"></option>
                </select>


                <input class=" table is-fullwidth is-hoverable" th:type="submit" th:value="Submit"/>
            </form>

        </div>
    </div>

</body>
</html>