<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Attendance</title>
</head>
<body>
<div layout:fragment="main-content">
    </br><h3><strong>>>>>>>>The student Accumulative information<<<<<<<<</strong></h3></br>
    <form th:action="@{/student/studentDetails}" method="get">
        <select class="select" name="block">
            <option value="default"><span>Select block</span></option>
            <option th:each="block : ${blockList}" th:value="${block.block}"
                    th:text="${block.block}"></option>
        </select>
        <input class="button is-link" th:type="submit" th:value="Submit"/>
    </form>
</div>
</body>
</html>