<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>Computer ProfessionalS Program </title>
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css" />
    <script type="text/javascript"
            th:href="@{/js/student.js}"></script>
</head>
<body>

<div class="admin container">
   Total sessions possible:  <p th:text="${result.possibledays}">hjghj</p>
 Total sessions attended:<p th:text="${result.daysattended}">hgklj</p>
 percentage<p th:text="${result.per}">khvglkhvj</p>
 
<table class="table is-fullwidth is-hoverable" id="result">
    <tr>
    
      <th> Date</th>
    
      <th>Present</th>
    
    </tr>
 
  <tr th:each="attendd : ${result.dateofmed}">
       	<td th:text="${attendd} ">NAME</td>
        
        <td  >True</td>
      </tr>
     
  <tfoot>
  
  </tfoot>
</table>
</div>
</body>
</html>