 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
 
</head>
<body>

<nav class="navbar is-dark">
	<div class="container">
	<div class="navbar-brand">
		<a class="navbar-item" href="https://bulma.io"> 
			<h1>ADMIN</h1>	
		</a>
	</div>
<div class="navbar-brand">
		<a class="navbar-item" href="https://bulma.io"> 
		<h1>FACULTY</h1>
			</a>
	</div>
	<div class="navbar-brand">
		<a class="navbar-item" href="https://bulma.io"> 
		<h1>STUDENT</h1>
			</a>
	</div>
	<div class="navbar-menu">
		<div class="navbar-end">
			
		</div>
	</div>
	</div>
</nav>
<br>
<div class="admin container">
<form th:action="@{/faculty/facultyreport}" th:method="GET" >
<label th:text="BLOCK">BLOCK:</label>
<select id="blockid" name="block">
<option  th:each="bl : ${block}" th:text="${bl.block}" >hjjh</option> 

</select>
<label>COURSE:</label><select id="courseid"  name="course">
<option  th:each= "cr : ${course}" th:text="${cr.courseName}" th:value="${cr.id}">WAA </option></select>
<input type="submit" class="button is-link" value="Report" />
</form>
<div class="admin container">

<table class="table is-fullwidth is-hoverable" id="result">
    <tr>
    
      <th> NAME</th>
    
      <th> MEDITATION DAYS</th>
      <th> MEDITATION PERCENTAGE</th>
      <th>EXTRA POINTS</th>
    </tr>
 
  <tr th:each="attendd : ${percentdata}">
       	<td th:text="${attendd.student.firstName} ">NAME</td>
        <td th:text="${attendd.meditationdays}">MEDITATION DAYS</td>
               <td th:text="${attendd.percentage}"> MEDITATION PERCENTAGE</td>
        <td  th:text="${attendd.extrapoint}">EXTRA POINTS</td>
      </tr>
     
  <tfoot>
  
  </tfoot>
</table>
</div>



</body>

</html>