<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Attendance</title>
</head>
<body>
<div layout:fragment="main-content"><br>
    <form>
        <select id="blockid" name="block" class="select">
            <option value=0>Select Block</option>
            <option th:each="bl : ${block}" th:text="${bl.block}" th:value="${bl.block}">hjjh</option>

        </select>
        <label></label><select id="courseid" name="course" class="select">
        <option value=0>Select Course</option>
        <option th:each="cr : ${course}" th:text="${cr.courseName}" th:value="${cr.id}">WAA</option>
    </select>
        <input type="button" class="button is-link" value="Report" id="mybtn"/>
    </form>
    <table class="table is-fullwidth is-hoverable" id="result">
    </table>
</div>
</body>
</html>