<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Attendance</title>
</head>
<body>
<div layout:fragment="main-content">
    <form th:action="@{/admin/entryreport}" th:method="GET">
        <label th:text="ENTRY">ENTRY:</label>
        <select name="entry" `>
            <option th:each="entry:${entries}"
                    th:value="${entry.monthYear}" th:text="${entry.monthYear}"
                    th:selected="${monthYear==entry.monthYear}"></option>
        </select>
        <input type="submit" class="button is-link" value="Report" id="submitBtn">
    </form>
    <table class="table is-fullwidth is-hoverable" id="result">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>otal Sessions Possible</th>
            <th>Total Sessions Attended</th>
            <th>Percent Attendance</th>
        </tr>
        </thead>
        <tr th:each="attendd : ${percentdata}">
            <td th:text="${attendd.student.code.studentId} ">Id</td>
            <td th:text="${attendd.student.email}">Email</td>
            <td th:text="${attendd.possibledays}">Total Session Possible</td>
            <td th:text="${attendd.meditationdays}">Total Sesion Attended</td>
            <td th:text="${attendd.percentage}">Percent Attended</td>
        </tr>
        <tbody>
        <tfoot>
        <tr>
            <th> Id</th>
            <th> Email</th>
            <th> Total sessions possible</th>
            <th>Total sessions attended</th>
            <th>Percent attendance</th>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>