<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>Computer ProfessionalS Program </title>
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../css/main.css" />
    <script type="text/javascript"
            th:href="@{/js/student.js}"></script>
</head>
<img alt="" src="https://farm5.staticflickr.com/4134/4883152280_7e42346d12_b.jpg">
<br>
<a href="http://localhost:8080/home"> <button type="button" value="HOME PAGE" class="button is-link"> </button></a>
<body>
</body></html>