<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bulmastyle.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>

<body>
<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Login</h3>
                <p class="subtitle has-text-grey">Please login to proceed.</p>
                <div class="box">
                    <figure class="avatar">
                        <img th:src="@{https://image.flaticon.com/icons/png/128/295/295128.png}">
                    </figure>
                    <form th:action="@{/login}" method="post" class="form-signin">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" name="email" type="email"
                                       placeholder="Your Email" autofocus="">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="password" name="password"
                                       th:placeholder="Password">
                            </div>
                        </div>
                        <div align="center field" th:if="${error}">
                            <p style="color: #d91e18">Email or Password invalid, please verify</p>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" name="remember-me">
                                Remember me
                            </label>
                        </div>
                        <input type="submit" class="button is-block is-info is-large is-fullwidth"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" th:src="@{/js/faculty.js}"></script>
</body>
</html>